* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
    max-height: 100%;
}
body{

background-image: url(/mohi/home-03-1920x1200\ \(2\).jpg)
}

.ourservis {  
display: flex;
flex-direction:column;
align-items: center;
justify-content: center;
gap: 1rem;
padding-bottom: 2rem;
/* padding-top: 1rem; */
}

.ourservis .servis{
    font-size: 6rem;
    font-weight: 900;
    font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: white;

}
.ourservis a:hover{
    cursor: pointer;

}

.ourservis .our{

    color: white;
    font-size: 6rem;
    font-weight:lighter;
    font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.ourservis p{
    font-size: 1.2rem;
    font-weight: 300;
    color: white;
    line-height: 2rem;
    font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;;
}
.ourservis button{
    background-color: transparent;
    outline: none;
    border: none;
    font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 2rem;
    font-weight: 500;
    color: white;
 

}
.ourservis button:hover{
    color: rgb(227, 18, 18);
    transition: 0.6s;
    cursor: pointer;

}

    



.ourservis .boxes {
    display: flex;
    align-items: center;
    flex-direction:row-reverse;
    gap: 2rem;
 }  
 .ourservis .boxes .box1 {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
 .ourservis .brake{
    background-color: rgba(234, 54, 54, 0.567);
    width: 22rem;
    height: 13.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
    padding-left: 1rem;
 }
 .ourservis .brake:hover{
    background-color: rgba(102, 85, 85, 0.588);
    transition: 0.6s;
}

 .ourservis .boxes .box2 {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
 .ourservis .boxes2 .box3 {
    display: flex;
    align-items: center;
    flex-direction: row;
 
}
 .ourservis .boxes2 .box4 {
    display: flex;
    align-items: center;
    flex-direction: row;
 
 }

 .ourservis .boxes2 {
    display: flex;
    align-items: center;
    flex-direction:row-reverse;
    gap: 2rem;
    
 }  

 